body {
    font-family: 'SilkScreen';
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

button {
    font-family: 'SilkScreen';
}

div.content {
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 10vh;
    border-radius: 8px 8px 0px 0px;
    background-color: white;
    transition: 0.5s;
}


div#void {
    position: relative;
    top: 160px;
    text-align: center;
}

nav {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;

    flex-wrap: wrap;
    display: flex;

    background-color: white;
    z-index: 101;
    user-select: none;
}

nav > div {
    position: relative;
    width: 24%;
    left: 2%;
    height: 100%;
    text-align: center;
    opacity: 0.4;
    transition: 0.2s;
}

nav > div > span {
    color: black;
    font-size: 12px;
    position: relative;
    top: 10px;
}

nav > div > img {
    position: relative;
    text-align: center;
    width: 12px;
    height: 12px;
    top: 10px;
}

button#upgrade {
    width: 80%;
    height: 55px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    position: absolute;
    bottom: 80px;
    left: 10%
}